@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Young Serif:wght@400;600;700&display=swap');

:root {
    /* Spacing */
    --spacing-1600: 128px;
    --spacing-600: 48px;
    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-200: 16px;
    --spacing-100: 8px;
    --spacing-150: 12px;

    /* Font Sizes */
    --font-size-desktop-text-preset-1: 40px;
    --font-size-desktop-text-preset-2: 28px;
    --font-size-desktop-text-preset-3: 20px;
    --font-size-desktop-text-preset-4: 16px;
    --font-size-mobile-text-preset-1: 36px;

    /* Colors */
    --color-rose-800: #7a284e;
    --color-brown-800: #854632;
    --color-stone-600: #5f564d;
    --color-stone-900: #312e2c;
    --color-stone-100: #f3e5d7;
    --color-stone-150: #e3ddd7;
    --color-rose-50: #fff7fb;
    --color-white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Young Serif';
    font-size: var(--font-size-desktop-text-preset-1, 40px);
    font-style: normal;
    font-weight: 400;
    list-style: 100%;
    color: var(--color-stone-900);
}

h2 {
    color: var(--color-brown-800, #854632);
    font-family: "Young Serif";
    font-size: var(--font-size-desktop-text-preset-2, 28px);
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
}

hr {
    width: 656px;
    height: 1px; 
    background: var(--color-stone-150, #E3DDD7);
}


.desktop {
    display: flex;
    width: 1440px;
    padding: var(--spacing-1600, 128px) var(--spacing-600, 48px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-100, 8px);
    background: var(--color-stone-100, #F3E5D7);
}

.card {
    display: flex;
    width: 736px;
    padding: var(--spacing-500, 40px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-500, 40px);
    flex-shrink: 0;
    border-radius: var(--spacing-300, 24px);
    background: var(--color-white, #FFF);
}

.card img {
    height: 300px;
    align-self: stretch;
    border-radius: var(--spacing-150, 12px);
    background: lightgray 50% / cover no-repeat;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-400, 32px);
    align-self: stretch;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
}

.title-desc {
    color: var(--color-stone-600, #5F564D);
    font-family: 'Outfit', sans-serif;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-self: stretch;
}


.preparation {
    display: flex;
    padding: var(--spacing-300, 24px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
    border-radius: var(--spacing-150, 12px);
    background: var(--color-rose-50, #FFF7FB);
}

.prep-title {
    color: var(--color-rose-800, #7A284E);
    font-family: 'Outfit', sans-serif;
    font-size: var(--font-size-desktop-text-preset-3, 20px);
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    align-self: stretch;
} 

.prep-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-100, 8px);
    align-self: stretch;
}

.prep-item {
    display: flex;
    padding-left: var(--spacing-100, 8px);
    align-items: center;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
}

.prep-item span {
    flex: 1 0 0;
    color: var(--color-stone-600, #5F564D);
    font-family: 'Outfit', sans-serif;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.prep-item span strong {
    font-weight: 700;
}

.ingredients {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
}

.ingredients-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-100, 8px);
    align-self: stretch;
}

.ingredient-item {
    display: flex;
    padding-left: var(--spacing-100, 8px);
    align-items: center;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
}

.ingredient-item span {
    flex: 1 0 0;
    color: var(--color-stone-600, #5F564D);
    font-family: 'Outfit', sans-serif;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
}

.instructions-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-100, 8px);
    align-self: stretch;
}

.instruction-items {
    display: flex;
    padding-left: var(--spacing-100, 8px);
    align-items: flex-start;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
}

.instruction-text {
    flex: 1 0 0;
    color: var(--color-stone-600, #5F564D);
    font-family: 'Outfit';
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.instruction-text strong {
    font-weight: 800;
}

.list-number {
    width: var(--spacing-200, 16px);
    color: var(--color-brown-800, #854632);
    font-family: 'Outfit';
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
}

.nutrition {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
}

.nutrition p {
    color: var(--color-stone-600, #5F564D);
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%; 
    align-self: stretch;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-150, 12px);
    align-self: stretch;
}

.row-data {
    display: flex;
    padding: 0 var(--spacing-400, 32px);
    align-items: center;
    gap: var(--spacing-200, 16px);
    align-self: stretch;
}

.row-field {
    flex: 1 0 0;
    color: var(--color-stone-600, #5F564D);
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.row-data {
    flex: 1 0 0;
    color: var(--color-brown-800, #854632);
    font-family: Outfit;
    font-size: var(--font-size-desktop-text-preset-4, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

@media screen and (max-width: 375px) {
    .desktop {
        width: 100%;
        padding: var(--spacing-300, 24px) var(--spacing-200, 16px);
        background: var(--color-white, #FFF);
    }

    .card {
        width: 100%;
        padding: var(--spacing-300, 24px);
    }

    .card img {
        height: 171px;
    }

    hr {
        width: 100%;
    }
}





