@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@400;600;700&display=swap');



:root {
    --spacing-400: 2rem;
    --spacing-50: 0.25rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --color-white: #ffffff;
    --font-size-text-preset-1: 2rem;
    --font-size-text-preset-4: 0.75rem;
    --font-size-text-preset-5: 0.8125rem;
    --font-size-text-preset-2: 0.875rem;
    --font-size-text-preset-3: 0.875rem;
    --color-green-500: #3d8168;
    --color-grey: #6c7289;
    --color-black: #1c232b;
    --color-green-700: #1a4032;
    --spacing-100: 0.5rem;
    --spacing-500: 2.5rem;
    --color-cream: #f2eae2;

    --font-type-heading: 'Fraunces';
    --font-type-text: 'Montserrat';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 375px;
    padding: 80px 12px 172px 13px;
    flex-direction: column;
    align-items: center;
    background: var(--color-cream);
}

.card {
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    
}

.image {
    background: lightgray -27.18px -52.686px / 122.286% 166.766% no-repeat;
    width: 100%;
    height: 342px;
    align-self: stretch;
    border-top-left-radius: var(--spacing-100, 8px);
    border-top-right-radius: var(--spacing-100, 8px);
}

.content {
    display: flex;
    padding: var(--spacing-400, 32px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
    background: var(--color-white, #FFF);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-300, 24px);
    align-self: stretch;
}

.title span {
    color: var(--color-grey);
    font-family: var(--font-type-text), sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.title h1 {
    color: var(--color-black, black);
    font-family: var(--font-type-heading), sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    align-self: stretch;
}

.title p {
    color: var(--color-grey, #6C7289);
    font-family: var(--font-type-text), sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 22.4px */
}

.price {
    display: flex;
    align-items: center;
    gap: var(--spacing-200, 16px);
}

.price h1 {
    color: var(--color-green-500);
    font-family: var(--font-type-heading), sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.price span {
    color: var(--color-grey);
    font-family: var(--font-type-text), sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-decoration-line: line-through;
}

.button {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-100, 8px);
    align-self: stretch;
    border-radius: var(--spacing-100, 8px);
    background: var(--color-green-500, #3d8168);
    border: none;
}

.button span {
    color: var(--color-white, #FFF);
    font-family: var(--font-type-text), sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;

}

@media screen and (min-width: 768px) {
    .container {
        width: 100%;
        padding: var(--spacing-300, 24px);
    }

    .card {
        width: 600px;
        display: flex;
        flex-direction: row;
    }

    .image {
        height: 100%;
        width: 300px;

        border-top-right-radius: 0px;
        border-bottom-left-radius: 8px;
    }

    .content {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 8px;
    }

    .button:hover {
        background: var(--color-green-700, #1A4032);
    }
}