@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


:root {
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;

    --font-size-text-preset-1: 36px;
    --font-size-text-preset-4: 15px;
    --font-size-text-preset-5: 13px;
    --font-size-text-preset-2: 36px;
    --font-size-text-preset-3: 20px;

    --color-white: #ffffff;
    --color-cyan: #44d3d2;
    --color-grey-500: #4d4f62;
    --color-red: #ea5454;
    --color-blue: #549ef2;
    --color-orange: #fcae4a;
    --color-grey-400: #6a7178;
}

* {
    margin: 0;
    padding: 0;
}

img {
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}

.container {
    display: flex;
    padding: var(--spacing-1600, 102px) 163px var(--spacing-1600, 163px) 163px;
    flex-direction: column;
    align-items: center;
    gap: 74px;
    background: #FAFAFA;
}

.title-wrapper {
    display: flex;
    width: 540px;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200, 16px);
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.title h1:nth-child(1) {
    color: var(--color-grey-500, #4D4F62);
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 275;
    line-height: 140%; 
    letter-spacing: 0.25px;
}

.title h1:nth-child(2) {
    color: var(--color-grey-500, #4D4F62);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; 
    letter-spacing: 0.25px;
}

.title-wrapper p {
    color: var(--color-grey-500, #4D4F62);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.104px;
}

.card-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-400, 32px);
    align-items: center;
    justify-content: center;   
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-400, 32px);
}



.content-1, 
.content-2, 
.content-3, 
.content-4 {
    display: flex;
    width: 350px;
    height: 250px;
    flex-shrink: 0;
    padding: var(--spacing-400, 32px);
    flex-direction: column;
    align-items: flex-end;
    gap: var(--spacing-400, 32px);
    justify-content: space-between;
    border-radius: var(--spacing-100, 8px);
    background: var(--color-white, #FFF);   
    box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.50);
}

.content-1 {
    border-top: 4px solid var(--color-cyan, #44D3D2);
}

.content-2 {
    border-top: 4px solid var(--color-red, #ea5454);
}

.content-3 {
    border-top: 4px solid var(--color-blue, #549ef2);
}

.content-4 {
    border-top: 4px solid var(--color-orange, #fcae4a);
}

.content-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}



.content-title span:nth-child(1) {
    color: var(--color-grey-500, #4D4F62);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%; 
}

.content-title span:nth-child(2) {
    color: var(--color-grey-400, #6A7178);
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    letter-spacing: 0.09px;
}

@media (max-width: 768px) {
    .container {
        padding: var(--spacing-500, 40px) var(--spacing-300, 24px);
        gap: var(--spacing-500, 40px);
    }

    .card-wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-300, 24px);
        width: 100%;
    }

    .content-wrapper {
        width: 100%;
        gap: var(--spacing-300, 24px);
    }

    .content-1, 
    .content-2, 
    .content-3, 
    .content-4 {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
}

@media (max-width: 375px) {
    .container {
        padding: var(--spacing-1000, 80px) var(--spacing-300, 24px);
        gap: var(--spacing-1000, 76px);
    }

    .title-wrapper {
        width: 100%;
        gap: var(--spacing-200, 16px);
    }

    .title h1:nth-child(1),
    .title h1:nth-child(2) {
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.167px;
    }

    .title-wrapper p {
        font-size: 15px;
        line-height: 167%;
        letter-spacing: 0.104px;
    }

    .content-1, 
    .content-2, 
    .content-3, 
    .content-4 {
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
    }
}