@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

:root {
    --spacing-1000: 80px;
    --spacing-800: 64px;
    --spacing-900: 72px;
    --spacing-700: 56px;
    --spacing-1400: 112px;
    --spacing-400: 32px;
    --spacing-200: 16px;
    --spacing-500: 40px;
    --spacing-100: 8px;
    --spacing-300: 24px;
    --spacing-50: 4px;
    --font-size-desktop-text-preset-1: 64px;
    --font-size-desktop-text-preset-2: 40px;
    --font-size-desktop-text-preset-3: 16px;
    --font-size-desktop-text-preset-4: 18px;
    --font-size-desktop-text-preset-5: 16px;
    --font-size-tablet-text-preset-1: 48px;
    --font-size-tablet-text-preset-2: 36px;
    --font-size-tablet-text-preset-3: 14px;
    --font-size-tablet-text-preset-4: 16px;
    --font-size-mobile-text-preset-1: 40px;
    --font-size-mobile-text-preset-2: 32px;
    --font-size-mobile-text-preset-3: 12px;
    --color-cyan-600: #4d96a9;
    --color-cyan-300: #8fe3f9;
    --color-purple-600: #855fb1;
    --color-purple-300: #d9b8ff;
    --color-slate-900: #28283d;
    --color-white: #fafafa;
    --color-slate-600: #87879d;
    --color-slate-300: #d1d1df;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-white, #FAFAFA);
    font-family: "Red Hat Display";
    font-feature-settings: 'liga' off, 'clig' off;
}

nav {
    display: flex;
    padding: var(--spacing-1000, 80px) var(--spacing-1000, 80px) 0 var(--spacing-1000, 80px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-100, 8px);
    align-self: stretch;
    background: var(--color-white, #FAFAFA);
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    padding: var(--spacing-800, 64px) var(--spacing-1000, 80px);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-100, 8px);
    align-self: stretch;
}

.combined {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 360px;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.faces-left {
    background: url('./assets/desktop/image-hero-left.png') 100% / contain no-repeat;
    width: 100%;
    height: 100%;
    margin-left: -95px;
}

.faces-right {
    background: url('./assets/desktop/image-hero-right.png') 0% / contain no-repeat;
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 95px;
}
.hero-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-400, 32px);
}

.hero-text-content h1 {
    width: 448.296px;
    color: var(--color-slate-900, #28283D);
    text-align: center;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
}

.hero-text-content  p {
    color: var(--color-slate-600, #87879D);
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
    align-self: stretch;
}

.btn-container {
    display: flex;
    align-items: center;
    gap: 17px;
}

.btn-download {
    display: flex;
    padding: var(--spacing-200, 16px) var(--spacing-500, 40px);
    flex-direction: row;
    align-items: flex-start;
    gap: var(--spacing-100, 8px);
    border-radius: 29px;
    background: var(--color-cyan-600, #4D96A9);
}

.btn-download span:nth-child(1) {
    color: var(--color-white, #FAFAFA);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 24px */
}

.btn-download span:nth-child(2) {
    color: var(--color-cyan-300, #8FE3F9);
    font-feature-settings: 'liga' off, 'clig' off;
    text-align: center;
    font-family: "Red Hat Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 24px */
}

.btn-learn {
    display: flex;
    padding: var(--spacing-200, 16px) var(--spacing-500, 40px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-100, 8px);
    border-radius: 29px;
    background: var(--color-purple-600, #855FB1);
    color: var(--color-white, #FAFAFA);
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
}

.main-content {
    display: flex;
    padding: var(--spacing-700, 56px) var(--spacing-1000, 80px) var(--spacing-900, 72px) var(--spacing-1000, 80px);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-800, 64px);
    align-self: stretch;
}

.sub-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-800, 64px);
    align-self: stretch;
}

.number-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    width: 1px;
    height: var(--spacing-1000, 80px);
    background: var(--color-slate-300, #d1d1df);
}

.circle {
    display: flex;
    width: var(--spacing-700, 56px);
    height: var(--spacing-700, 56px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-slate-300, #D1D1DF);
    border-radius: 50%;
    background: var(--color-white, #FAFAFA);
    color: var(--color-slate-600, #87879D);
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%; /* 24px */
}

.img-collage {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: center;
    gap: var(--spacing-400, 32px);
}

.img-one, .img-two, .img-three, .img-four {
    width: 256px;
    height: 256px;
    border-radius: 8px;
}

.img-one {
    background: url('./assets/desktop/image-woman-in-videocall.jpg') lightgray 50% / cover no-repeat;
}

.img-two {
    background: url('./assets/desktop/image-women-videochatting.jpg') lightgray 50% / cover no-repeat;
}

.img-three {
    background: url('./assets/desktop/image-men-in-meeting.jpg') lightgray 50% / cover no-repeat;
}

.img-four {
    background: url('./assets/desktop/image-man-texting.jpg') lightgray 50% / cover no-repeat;
}

.main-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-400, 32px);
    max-width: 544px;
}

.main-text-content p:nth-child(1) {
   color: var(--color-cyan-600, #4D96A9);
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; /* 17.6px */
    letter-spacing: 4px;
    text-transform: uppercase;
}

.main-text-content h2 {
    color: var(--color-slate-900, #28283D);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%; 
    width: 445px;/* 44px */
}

.main-text-content p:nth-child(3) {
    color: var(--color-slate-600, #87879D);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.footer-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    position: relative;
}

.footer-cta .number-img {
    z-index: 10;
    margin-bottom: -45px;
}

.footer-hero {
    display: flex;
    padding: var(--spacing-1400, 112px) var(--spacing-1000, 80px);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-800, 64px);
    align-self: stretch;
    background: linear-gradient(rgba(75, 162, 184, 0.75), rgba(77, 150, 169, 0.75)), url('./assets/desktop/image-footer.jpg') 50% / cover no-repeat;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-800, 64px);
    align-self: stretch;
}

.sub-footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: var(--spacing-400, 32px);
    align-self: stretch;
}

.sub-footer-content h1 {
    color: var(--color-white, #FAFAFA);
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 110%;
    max-width: 355px;
}

.footer-description p {
    color: var(--color-white, #FAFAFA);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 355px;
}

.sub-footer-content .btn-download {
    background: var(--color-purple-600);
}

.sub-footer-content .btn-download span:nth-child(2) {
    color: var(--color-purple-300, #D9B8FF);
}